<div class="widget-wrap">
    <h3 class="widget-title"><%= __('qrcode') %></h3>
    <div class="widget">
        <img src="<%= config.qrcode %>" width="100%" style="max-width: 200px;" />
    </div>
</div>