<div class="widget-wrap">
    <h3 class="widget-title"><%= __('tip') %></h3>
    <div class="widget" style="min-height: 50px;">
        <img src="<%= config.tip_img %>" height="50px" style="float: left; margin-right: 10px" />
        <span style="font-size:medium; color:palevioletred"><%= config.tip_text %></span>
    </div>
</div>